html, body {
	margin: 0 auto;
	background: url(../images/debut_dark.png)
}

header {
	font-size: 40pt;
	margin-top: auto;
	padding: 20px;
	margin-bottom: 10px;
	border-bottom: solid black thick;
}

header, .panel-default {
	background: url(../images/topography.png);
}

#header-text {}

.giphy {
	margin: 5px;
}

#user-input {
	width: 100%;
	margin-bottom: 10px;
	height: 30px;
}
.btn {
	width: 150px;
}

.btn-input {
	width: 100%;
}

.gif-response {
	display: inline-block;
}

.gif-rating {
	position: relative;
	display: block;
	margin-left: 10px;
}

.gif-img {
	margin: 10px;
}
